<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
            
            background-color: rgb(255, 213, 210);
        }
        .container{
            background-color: white;
            border: 3px solid black;
            display: block;
            text-align: center;
            letter-spacing: 1px;
            width: 40%;
            margin: auto auto;
            padding: 10px;
        }
        .icon,h1,h2,h3,ul,li, p,i{
            background-color: white;
        }
        ul{
            list-style: none;
        } 
        li{
            text-align: center;
            margin-left: -25px;
        }
        .icon{
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 10px;
           margin-top: 10px;
        }
       .fa{
        font-size: 20px;
        cursor: pointer;
       }
       button{
        cursor: pointer;
       }
       @media screen and (max-width:770px){
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 20px;
        }
        .container{
            width: 70%;

        }
       }
       @media screen and (max-width:550px){
        h1{
            font-size: 15px;
        }
        h2{
            font-size: 15px;
        }
        h3{
            font-size: 13px;
        }
        .container{
            width: 80%;
        }
       }
       @media screen and (max-width:360px){
        h3{
            font-size: 10px;
            font-weight: bold;
        }
        .container{
            width: 80%;
            word-spacing: 4px;
        }
        li{
            font-size: 12px;
        }
       }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="text-decoration: underline;">
            <%= recipes.title %>
        </h1>
        <h2>Ingredients</h2>
        <ul>
            <% recipes.ingredients.forEach(function(ingredient) { %>
              <li><%= ingredient %></li>
            <% }); %>
          </ul>
        <h3>---INSTRUCTIONS---</h3>
        <ul>
            <% recipes.instructions.forEach(function(instruction) { %>
              <li><%= instruction %></li>
            <% }); %>
          </ul>
       
        <div class="icon" id="<%= recipes.id %>">      
           <i class="fa fa-heart like-button" data-id="<%=recipes.id%>"style="color: <%= recipes.is_liked ? 'red' : 'black' %>;"></i>
           <i onclick="shareToWhatsApp(id)" class="fa fa-whatsapp" id="<%= recipes.id %>"></i>
           <i onclick="shareToFacebook(id)" class="fa fa-facebook" id="<%= recipes.id %>"></i>
           <i onclick="shareToPinterest(id)" class="fa fa-pinterest-p" id="<%= recipes.id %>"></i>
           <i onclick="shareToEmail(id)" class="fa fa-envelope-o" id="<%= recipes.id %>"></i>
        </div>
        <div class="icon" >
          <button class="cart-button" type="submit" data-id="<%=recipes.id%>"><%= recipes.in_Cart ? 'Added To Cart':'Add To Cart' %></button>
        </div>
    </div>
</body>
 <script>
    const recipeLink = window.location.href; 
        const recipeTitle = document.title;
        const recipeDescription = "Check out this amazing recipe!"; 
        function shareToWhatsApp(recipeId) {
            const message = encodeURIComponent(`${recipeDescription} ${recipeLink}?id=${recipeId}`);
            const whatsappUrl = `https://api.whatsapp.com/send?text=${message}`;
            window.open(whatsappUrl, '_blank');
        }

        function shareToFacebook(recipeId) {
            const facebookUrl = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(recipeLink+ '?id=' + recipeId)}`;
            window.open(facebookUrl, '_blank');
        }

        function shareToEmail(recipeId) {
            const subject = encodeURIComponent(recipeTitle);
            const body = encodeURIComponent(`${recipeDescription}\n\n${recipeLink}?id=${recipeId}`);
            const emailUrl = `mailto:?subject=${subject}&body=${body}`;
            window.open(emailUrl, '_self');
        }

        function shareToPinterest(recipeId) {
            const pinterestUrl = `https://pinterest.com/pin/create/button/?url=${encodeURIComponent(recipeLink+ '?id=' + recipeId)}&description=${encodeURIComponent(recipeDescription)}`;
            window.open(pinterestUrl, '_blank');
        }

        document.addEventListener('DOMContentLoaded', () => {
            const likeButton = document.querySelector('.like-button');
            likeButton.addEventListener('click', async () => {
                const recipeId = likeButton.getAttribute('data-id');
                const isLiked = likeButton.style.color === 'red';

                const response = await fetch('/toggle_like', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ recipeId, isLiked })
                });

                if (response.ok) {
                    if (isLiked) {
                        likeButton.style.color = 'black';
                    } else {
                        likeButton.style.color = 'red';
                    }
                }
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const cartButton = document.querySelector('.cart-button');
            cartButton.addEventListener('click', async () => {
                const recipeId = cartButton.getAttribute('data-id');
                const inCart = cartButton.innerText === 'Added To Cart';

                const response = await fetch('/addToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ recipeId, inCart })
                });

                if (response.ok) {
                    if (inCart) {
                        cartButton.innerText = 'Add To Cart';
                    } else {
                        cartButton.innerText = 'Added To Cart';
                    }
                }
            });
        });
       
 </script>
</html>